*,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form label{
  font-size: clamp(1rem, 4vh, 4rem);
}

.form input{
  padding: 12px 20px;
  border-radius: 2rem;
}

.form button{
  padding: 12px 20px;
  border-radius: 2rem;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2rem;
  gap: 2rem;
}

.element{
  font-size: clamp(1rem, 4vh, 2rem);
}